@{
    ViewData["Title"] = "About";
}
<h2>About The Team</h2>

<p><b>Our team of four includes:</b> Apurva Tolia, Harsh Desai, Dane Mazzaro, and Nathaniel Auxier.</p>

<p>For our Course Project, we intend to create a database that enables file sharing through different users. Allowing the user to share documents, media files, images, etc. to other users and implement a user restriction access if the sender requests any. Another feature we plan to implement is a comment or messaging feature that allows the users to communicate while sending, receiving and editing any files.</p>

<h2>More About The Team:</h2>


<div class="container">
    <div class="row">
        <p><h1>Dane Mazzaro</h1></p>
        <div class="col-xs-6">
            <img src="https://scontent.fdet1-1.fna.fbcdn.net/v/t1.0-1/c1.0.160.160/p160x160/14067530_1253570731320461_2769236066041339135_n.jpg?_nc_cat=0&oh=08d0ca5b06eaa2fd3ba846a151475c34&oe=5B6F285A" />
            <p>

            </p>
            <p>
                <b>Project Responsibilities -</b> My Computer will host the cooperative process which works on occurrences of any event and the outcome effects any part of the rest of the system. Will likely also work on a lot of the backend code for the media sharing and social aspect of the website.
            </p>
            <p>
                <b>IP Address VM -</b> 141.210.25.173
            </p>
        </div>
        <div class="col-xs-6">
            <p>
                <b>Favorite Meme: </b>
            </p>
            <p>
                <img height="250" width="250" src="https://i.pinimg.com/originals/49/af/35/49af35df6ee0e8ced6f0103f6ea7e878.jpg" />
            </p>
        </div>
    </div>
    <hr />
</div>

<div class="container">
    <div class="row">
        <p><h1>Apurva Tolia</h1></p>
        <div class="col-xs-6">
            <img height="200" width="200" src="http://141.210.25.173/images/5/50/Apu.jpg" />
            <p>

            </p>
            <p>
                <b>Project Responsibilities -</b> Will host the cooperative process which works on occurrences of any event and the outcome effects any part of the rest of the system.
            </p>
            <p>
                <b>IP Address VM -</b> 141.210.26.146
            </p>
        </div>
        <div class="col-xs-6">
            <p>
                <b>Favorite Joke: </b>
            </p>
            <div class="table-bordered">
                <p><b>Knock Knock...</b></p>
                <p>Who's There?</p>
                <p><b>Up</b></p>
                <p>Up Who?</p>
                <p><b>It's how you pronounce my name you fool.</b></p>
            </div>
        </div>
    </div>
    <hr />
</div>

<div class="container">
    <div class="row">
        <p><h1>Nathaniel Auxier</h1></p>
        <div class="col-xs-6">
            <img src="http://141.210.25.173/images/f/fd/Capture.JPG" />
            <p>

            </p>
            <p>
                <b>Project Responsibilities -</b> Will be hosting the I/O Bound Process which is associated with input/output based activity like reading from files, etc.
            </p>
            <p>
                <b>IP Address VM -</b> 141.210.25.169
            </p>
        </div>
        <div class="col-xs-6">
            <p>
                <b>Favorite Meme: </b>
            </p>
            <p>
                <img src="http://141.210.25.173/images/thumb/d/d0/Meme.jpg/200px-Meme.jpg" />
            </p>
        </div>
    </div>
    <hr />
</div>

<div class="container">
    <div class="row">
        <p><h1>Harsh Desai</h1></p>
        <div class="col-xs-6">
            <img src="http://141.210.25.173/images/thumb/3/31/345031.jpg/200px-345031.jpg" />
            <p>

            </p>
            <p>
                <b>Project Responsibilities -</b> My Computer will host the CPU Bound which in this case spends the majority of its time simply using the CPU or in other words doing the calculations.
            </p>
            <p>
                <b>IP Address VM -</b> 141.210.25.173 / My VM IP- 141.210.26.146
            </p>
        </div>
        <div class="col-xs-6">
            <p>
                <b>Favorite Meme: </b>
            </p>
            <p>
                <img src="http://141.210.25.173/images/thumb/e/e6/Trump11.jpg/200px-Trump11.jpg" />
            </p>
        </div>
    </div>
</div>
