@{
    ViewData["Title"] = "Contact";
}

<h2>Contact The Team</h2>

<p>Dane Mazzaro: damazzaro@oakland.edu</p>
<p>Harsh Desai: Fill out email</p>
<p>Apurva Tolia: Fill out email</p>
<p>Nathan Auxier: Fill out email</p>
