
@{
    ViewData["Title"] = "FAQ";
}

<h2>Frequently Asked Questions</h2>

<div class="container">
    <div class="panel-group" id="faqAccordion">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                <h4 class="panel-title">
                    <a href="#" class="ing">Q: How to login?</a>
                </h4>
            </div>
            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Answer</span></h5>
                    <p>
                        If you wish to login you first must have an active microsoft account with oakland univeristy. Our authentication is dependent on the Microsoft Active Directory under the Oakland University group. Then you just enter your username and password...kind of how all login systems work
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                <h4 class="panel-title">
                    <a href="#" class="ing">Q: How to attain an account? </a>
                </h4>
            </div>
            <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Answer</span></h5>
                    <p>
                        <a href="https://oakland.edu/uts/common-good-core-resources/microsoft-office-365-education/">The Oakland University Tutorial</a> can assist you with that!
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                <h4 class="panel-title">
                    <a href="#" class="ing">Q: How do I upload a file</a>
                </h4>
            </div>
            <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Answer</span></h5>
                    <p>
                        Once authenticated you can access the file upload on by pressing {file upload button} blah blah
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                <h4 class="panel-title">
                    <a href="#" class="ing">Q: What if I want to download an item</a>
                </h4>
            </div>
            <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Answer</span></h5>
                    <p>
                        Come on...just click download already. It's not that complicated
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

